# Подключение библиотек

In [20]:
# !pip install aiomoex

In [61]:
import asyncio 

import aiohttp

import aiomoex
import pandas as pd

# Параметры, которые будем использовать в примерах

In [122]:
ticker = 'SBER'
start ='2022-10-08'
end = '2022-10-30'
columns = ['BOARDID', 'TRADEDATE', 'OPEN', 'CLOSE', 'VOLUME', 'VALUE']
interval = 60

# 0. Функция для вывода всех возможных тикеров библиотеки
### get_board_securities()

In [142]:
async def get_board_securities():
    async with aiohttp.ClientSession() as session:
        data = pd.DataFrame(await aiomoex.get_board_securities(session))
    return data

In [143]:
await get_board_securities()

     SECID     REGNUMBER  LOTSIZE   SHORTNAME
0     ABRD  1-02-12500-A       10  АбрауДюрсо
1     ACKO  1-01-52065-Z      100     АСКО ао
2     AFKS  1-05-01669-A      100  Система ао
3     AFLT  1-01-00010-A       10    Аэрофлот
4     AGRO          None        1    AGRO-гдр
..     ...           ...      ...         ...
258   YNDX          None        1  Yandex clA
259   YRSB  1-01-50099-A       10     ТНСэнЯр
260  YRSBP  2-01-50099-A       10   ТНСэнЯр-п
261   ZILL  1-02-00036-A        1      ЗИЛ ао
262   ZVEZ  1-01-00169-D     1000   ЗВЕЗДА ао

[263 rows x 4 columns]

# 1. Получить интервал дат торгов тикером
### get_board_dates()

In [112]:
# get_board_dates() позволяет узнать период дат, доступных значений котировок 
async with aiohttp.ClientSession() as session:
    dates = pd.DataFrame(await aiomoex.get_board_dates(session, ticker))
    print(dates)

         from        till
0  1997-03-24  2022-10-26

### напишем нашу функцию get_board_dates()

In [98]:
async def get_board_dates(ticker):
    async with aiohttp.ClientSession() as session:
        dates = pd.DataFrame(await aiomoex.get_board_dates(session, ticker))
        return dates

In [99]:
# Вызов асинхронной функции через await
await get_board_dates(ticker)

         from        till
0  1997-03-24  2022-10-26

# 2. Получить дневные значения цен по одному тикеру 
### get_board_history()

In [97]:
# aiomoex.get_board_history(session: aiohttp.client.ClientSession, security: str, start: Optional[str] = None, end: Optional[str] = None, columns: Optional[Iterable[str]] = 'BOARDID', 'TRADEDATE', 'CLOSE', 'VOLUME', 'VALUE', board: str = 'TQBR', market: str = 'shares', engine: str = 'stock') → List[Dict[str, Union[str, int, float]]]

# Получить историю торгов для указанной бумаги в указанном режиме торгов за указанный интервал дат.
async with aiohttp.ClientSession() as session:
    data = pd.DataFrame(await aiomoex.get_board_history(session, ticker, start, end, columns))
    print(data)

   BOARDID   TRADEDATE    OPEN   CLOSE     VOLUME         VALUE
0     TQBR  2022-10-10   96.55  106.71  117465350  1.210054e+10
1     TQBR  2022-10-11  106.50  107.72   76962080  8.212972e+09
2     TQBR  2022-10-12  108.27  105.90   63378400  6.748221e+09
3     TQBR  2022-10-13  105.72  106.50   46849810  4.973132e+09
4     TQBR  2022-10-14  106.92  107.78   52565400  5.631814e+09
5     TQBR  2022-10-17  107.93  112.44   78496550  8.680124e+09
6     TQBR  2022-10-18  113.05  110.88  101854810  1.146888e+10
7     TQBR  2022-10-19  110.12  112.39   90693010  1.004778e+10
8     TQBR  2022-10-20  112.75  116.98  100723600  1.161162e+10
9     TQBR  2022-10-21  116.93  119.45  102382050  1.199634e+10
10    TQBR  2022-10-24  120.15  118.80   74539310  8.899629e+09
11    TQBR  2022-10-25  118.84  124.36  114156750  1.398841e+10
12    TQBR  2022-10-26  124.70  124.43  108495360  1.349059e+10

### напишем нашу функцию get_board_history()

In [102]:
async def get_board_history(ticker, start, end, columns):
    async with aiohttp.ClientSession() as session:
        data = pd.DataFrame(await aiomoex.get_board_history(session, ticker, start, end, columns))
    return data

In [110]:
await get_board_history(ticker, start, end, columns)

   BOARDID   TRADEDATE    OPEN   CLOSE     VOLUME         VALUE
0     TQBR  2022-10-10   96.55  106.71  117465350  1.210054e+10
1     TQBR  2022-10-11  106.50  107.72   76962080  8.212972e+09
2     TQBR  2022-10-12  108.27  105.90   63378400  6.748221e+09
3     TQBR  2022-10-13  105.72  106.50   46849810  4.973132e+09
4     TQBR  2022-10-14  106.92  107.78   52565400  5.631814e+09
5     TQBR  2022-10-17  107.93  112.44   78496550  8.680124e+09
6     TQBR  2022-10-18  113.05  110.88  101854810  1.146888e+10
7     TQBR  2022-10-19  110.12  112.39   90693010  1.004778e+10
8     TQBR  2022-10-20  112.75  116.98  100723600  1.161162e+10
9     TQBR  2022-10-21  116.93  119.45  102382050  1.199634e+10
10    TQBR  2022-10-24  120.15  118.80   74539310  8.899629e+09
11    TQBR  2022-10-25  118.84  124.36  114156750  1.398841e+10
12    TQBR  2022-10-26  124.70  124.43  108495360  1.349059e+10

In [107]:
# Если поставить вместо значений start, end, columns 0, то будет использовано значение по умолчанию
# диапазон станет либо с самого начала торгов, либо до самого конца интервала торгов
# либо будут выведены все возможные столбцы данных

In [109]:
await get_board_history(ticker, 0, 0, 0)

,BOARDID,TRADEDATE,SHORTNAME,SECID,NUMTRADES,VALUE,OPEN,LOW,HIGH,LEGALCLOSEPRICE,...,CLOSE,VOLUME,MARKETPRICE2,MARKETPRICE3,ADMITTEDQUOTE,MP2VALTRD,MARKETPRICE3TRADESVALUE,ADMITTEDVALUE,WAVAL,TRADINGSESSION
0,TQBR,2013-03-25,Сбербанк,SBER,140,5.934000e+07,96.00,96.00,101.14,98.66,...,98.79,593680,99.99,99.99,99.99,8.572434e+09,8.572434e+09,8.572434e+09,NaN,3
1,TQBR,2013-03-26,Сбербанк,SBER,183,1.260304e+08,98.58,97.08,99.31,97.13,...,97.20,1283550,97.82,97.82,97.82,1.221847e+10,1.221847e+10,1.221847e+10,NaN,3
2,TQBR,2013-03-27,Сбербанк,SBER,176,1.218359e+08,97.90,95.39,98.00,96.73,...,96.75,1261950,96.45,96.45,96.45,1.251981e+10,1.251981e+10,1.251981e+10,NaN,3
3,TQBR,2013-03-28,Сбербанк,SBER,299,1.924698e+08,96.38,95.72,98.66,98.64,...,98.59,1971410,97.74,97.74,97.74,1.257281e+10,1.257281e+10,1.257281e+10,NaN,3
4,TQBR,2013-03-29,Сбербанк,SBER,121,7.726886e+07,98.60,98.32,99.09,98.83,...,98.76,782000,98.77,98.77,98.77,2.611474e+09,2.611474e+09,2.611474e+09,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2413,TQBR,2022-10-20,Сбербанк,SBER,186088,1.161162e+10,112.75,112.37,117.20,116.06,...,116.98,100723600,115.20,115.20,116.06,1.070707e+10,1.070707e+10,1.070707e+10,0.0,3
2414,TQBR,2022-10-21,Сбербанк,SBER,185601,1.199634e+10,116.93,114.37,119.94,118.55,...,119.45,102382050,116.74,116.74,118.55,9.981665e+09,9.981665e+09,9.981665e+09,0.0,3
2415,TQBR,2022-10-24,Сбербанк,SBER,161324,8.899629e+09,120.15,117.65,121.68,118.90,...,118.80,74539310,119.42,119.42,118.90,8.439973e+09,8.439973e+09,8.439973e+09,0.0,3
2416,TQBR,2022-10-25,Сбербанк,SBER,231247,1.398841e+10,118.84,118.30,125.20,124.69,...,124.36,114156750,122.41,122.41,124.69,1.300546e+10,1.300546e+10,1.300546e+10,0.0,3
2417,TQBR,2022-10-26,Сбербанк,SBER,212260,1.349059e+10,124.70,122.10,126.88,124.12,...,124.43,108495360,124.34,124.34,124.12,1.279742e+10,1.279742e+10,1.279742e+10,0.0,3

### get_market_history() 
#### важность методов, содержащих market - разные board (BOARDID)

In [113]:
# get_market_history - Получить историю по одной бумаге на рынке для всех режимов торгов за интервал дат.
# важность методов, содержащих market - разыне board (BOARDID)
async with aiohttp.ClientSession() as session:
    data = pd.DataFrame(await aiomoex.get_market_history(session, ticker))
    print(data)

     BOARDID   TRADEDATE   CLOSE     VOLUME         VALUE
0       EQBR  2011-11-21   75.99  293803290  2.283014e+10
1       SMAL  2011-11-21   74.50        333  2.539949e+04
2       EQBR  2011-11-22   76.40  272599350  2.091095e+10
3       SMAL  2011-11-22   76.45       1105  8.413835e+04
4       EQBR  2011-11-23   76.80  335403030  2.556061e+10
...      ...         ...     ...        ...           ...
7926    TQBR  2022-10-24  118.80   74539310  8.899629e+09
7927    SMAL  2022-10-25  124.05        186  2.266211e+04
7928    TQBR  2022-10-25  124.36  114156750  1.398841e+10
7929    SMAL  2022-10-26  126.70         71  8.807850e+03
7930    TQBR  2022-10-26  124.43  108495360  1.349059e+10

[7931 rows x 5 columns]

### напишем нашу функцию get_market_history()

In [118]:
# get_market_history - Получить историю по одной бумаге на рынке для всех режимов торгов за интервал дат.
async def get_market_history(ticker, start, end, columns):
    async with aiohttp.ClientSession() as session:
        dates = pd.DataFrame(await aiomoex.get_market_history(session, ticker, start, end, columns))
    return dates

In [119]:
await get_market_history(ticker, start, end, columns)

   BOARDID   TRADEDATE    OPEN   CLOSE     VOLUME         VALUE
0     SMAL  2022-10-10   98.52  106.50        199  2.056785e+04
1     TQBR  2022-10-10   96.55  106.71  117465350  1.210054e+10
2     SMAL  2022-10-11  104.00  105.10        118  1.251758e+04
3     TQBR  2022-10-11  106.50  107.72   76962080  8.212972e+09
4     SMAL  2022-10-12  107.00  105.00         97  1.021231e+04
5     TQBR  2022-10-12  108.27  105.90   63378400  6.748221e+09
6     SMAL  2022-10-13  104.01  106.49        104  1.092811e+04
7     TQBR  2022-10-13  105.72  106.50   46849810  4.973132e+09
8     SMAL  2022-10-14  117.77  108.28         88  9.384890e+03
9     TQBR  2022-10-14  106.92  107.78   52565400  5.631814e+09
10    SMAL  2022-10-17  108.94  109.63        156  1.727566e+04
11    TQBR  2022-10-17  107.93  112.44   78496550  8.680124e+09
12    SMAL  2022-10-18  112.15  112.09        241  2.723639e+04
13    TQBR  2022-10-18  113.05  110.88  101854810  1.146888e+10
14    SMAL  2022-10-19  114.99  110.00        124  1.363176e+04
15    TQBR  2022-10-19  110.12  112.39   90693010  1.004778e+10
16    SMAL  2022-10-20  111.00  115.00        201  2.311074e+04
17    TQBR  2022-10-20  112.75  116.98  100723600  1.161162e+10
18    SMAL  2022-10-21  114.09  118.65        183  2.139188e+04
19    TQBR  2022-10-21  116.93  119.45  102382050  1.199634e+10
20    SMAL  2022-10-24  120.27  119.00        334  3.915164e+04
21    TQBR  2022-10-24  120.15  118.80   74539310  8.899629e+09
22    SMAL  2022-10-25  116.58  124.05        186  2.266211e+04
23    TQBR  2022-10-25  118.84  124.36  114156750  1.398841e+10
24    SMAL  2022-10-26  123.79  126.70         71  8.807850e+03
25    TQBR  2022-10-26  124.70  124.43  108495360  1.349059e+10

In [121]:
# Если поставить вместо значений start, end, columns 0, то будет использовано значение по умолчанию
# диапазон станет либо с самого начала торгов, либо до самого конца интервала торгов
# либо будут выведены все возможные столбцы данных

In [120]:
await get_market_history(ticker, 0, 0, 0)

,BOARDID,TRADEDATE,SHORTNAME,SECID,NUMTRADES,VALUE,OPEN,LOW,HIGH,LEGALCLOSEPRICE,...,CLOSE,VOLUME,MARKETPRICE2,MARKETPRICE3,ADMITTEDQUOTE,MP2VALTRD,MARKETPRICE3TRADESVALUE,ADMITTEDVALUE,WAVAL,TRADINGSESSION
0,EQBR,2011-11-21,Сбербанк,SBER,128096,2.283014e+10,79.00,75.85,79.37,76.00,...,75.99,293803290,77.71,77.71,77.71,2.283016e+10,2.283016e+10,2.283016e+10,NaN,3
1,SMAL,2011-11-21,Сбербанк,SBER,56,2.539949e+04,79.49,74.50,79.49,75.44,...,74.50,333,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,3
2,EQBR,2011-11-22,Сбербанк,SBER,126144,2.091095e+10,76.40,75.10,77.76,76.08,...,76.40,272599350,76.71,76.71,76.71,2.091103e+10,2.091103e+10,2.091103e+10,NaN,3
3,SMAL,2011-11-22,Сбербанк,SBER,50,8.413835e+04,73.20,73.20,77.69,75.97,...,76.45,1105,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,3
4,EQBR,2011-11-23,Сбербанк,SBER,140160,2.556061e+10,75.00,74.42,77.44,76.71,...,76.80,335403030,76.21,76.21,76.21,2.556062e+10,2.556062e+10,2.556062e+10,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7926,TQBR,2022-10-24,Сбербанк,SBER,161324,8.899629e+09,120.15,117.65,121.68,118.90,...,118.80,74539310,119.42,119.42,118.90,8.439973e+09,8.439973e+09,8.439973e+09,0.0,3
7927,SMAL,2022-10-25,Сбербанк,SBER,62,2.266211e+04,116.58,116.40,124.40,NaN,...,124.05,186,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.0,3
7928,TQBR,2022-10-25,Сбербанк,SBER,231247,1.398841e+10,118.84,118.30,125.20,124.69,...,124.36,114156750,122.41,122.41,124.69,1.300546e+10,1.300546e+10,1.300546e+10,0.0,3
7929,SMAL,2022-10-26,Сбербанк,SBER,19,8.807850e+03,123.79,122.10,127.00,NaN,...,126.70,71,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.0,3
7930,TQBR,2022-10-26,Сбербанк,SBER,212260,1.349059e+10,124.70,122.10,126.88,124.12,...,124.43,108495360,124.34,124.34,124.12,1.279742e+10,1.279742e+10,1.279742e+10,0.0,3

# 3. Исторические данные по свечкам 
### - возможность получить данные с гибким интервалом - минуты, часы, кварталы и тд
* 1 - 1 минута

* 10 - 10 минут

* 60 - 1 час

* 24 - 1 день

* 7 - 1 неделя

* 31 - 1 месяц

* 4 - 1 квартал

In [54]:
# get_board_candles - Получить свечи в формате HLOCV указанного инструмента в указанном режиме торгов за интервал дат. 
async with aiohttp.ClientSession() as session:
    data = pd.DataFrame(await aiomoex.get_board_candles(session, ticker, interval,  start, end))
    print(data)

      open   close    high     low         value    volume  \
0   118.84  118.84  118.84  118.84  3.640069e+06     30630
1   118.86  119.23  119.67  118.30  1.159700e+09   9739890
2   119.23  120.54  120.86  119.00  1.324785e+09  11027860
3   120.54  122.38  122.85  120.48  3.059291e+09  25075510
4   122.40  122.65  122.65  121.76  1.245339e+09  10189050
5   122.61  123.54  123.66  122.30  1.174844e+09   9558440
6   123.55  123.00  123.60  122.88  1.091009e+09   8852320
7   123.02  124.03  124.15  122.89  1.239223e+09  10018930
8   124.04  123.97  125.20  123.80  2.129927e+09  17111480
9   123.97  124.69  124.79  123.90  5.777032e+08   4641800
10  124.70  124.33  124.86  124.17  2.794301e+08   2245510
11  124.35  124.11  124.47  124.03  1.791300e+08   1441460
12  124.11  124.15  124.39  123.85  2.558108e+08   2062140
13  124.18  124.33  124.38  123.92  1.320339e+08   1063660
14  124.27  124.36  124.40  124.12  1.365393e+08   1098070
15  124.70  124.70  124.70  124.70  1.806529e+07    144870
16  124.71  124.14  124.99  123.30  2.186513e+09  17642470
17  124.17  125.97  126.88  124.17  3.410639e+09  27083530
18  125.95  123.99  125.98  123.55  1.486655e+09  11948590
19  123.99  123.13  124.50  122.70  1.301565e+09  10550170
20  123.12  123.44  123.78  122.10  1.603143e+09  13040280
21  123.44  123.94  124.58  123.32  9.867490e+08   7959620
22  123.97  122.84  124.39  122.80  6.276450e+08   5078270
23  122.84  124.72  124.75  122.80  6.589601e+08   5323470
24  124.68  124.12  124.98  124.11  5.174887e+08   4154540
25  123.93  124.57  124.90  123.80  2.695091e+08   2163780
26  124.57  124.40  124.69  124.25  1.578313e+08   1267720
27  124.40  124.34  124.45  124.17  1.047051e+08    842430
28  124.34  124.48  124.50  124.20  8.369107e+07    673050
29  124.48  124.43  124.50  124.25  7.742763e+07    622570

                  begin                  end
0   2022-10-25 09:00:00  2022-10-25 09:59:59
1   2022-10-25 10:00:00  2022-10-25 10:59:59
2   2022-10-25 11:00:00  2022-10-25 11:59:59
3   2022-10-25 12:00:00  2022-10-25 12:59:59
4   2022-10-25 13:00:00  2022-10-25 13:59:59
5   2022-10-25 14:00:00  2022-10-25 14:59:59
6   2022-10-25 15:00:00  2022-10-25 15:59:59
7   2022-10-25 16:00:00  2022-10-25 16:59:59
8   2022-10-25 17:00:00  2022-10-25 17:59:59
9   2022-10-25 18:00:00  2022-10-25 18:59:59
10  2022-10-25 19:00:00  2022-10-25 19:59:59
11  2022-10-25 20:00:00  2022-10-25 20:59:59
12  2022-10-25 21:00:00  2022-10-25 21:59:59
13  2022-10-25 22:00:00  2022-10-25 22:59:59
14  2022-10-25 23:00:00  2022-10-25 23:59:58
15  2022-10-26 09:00:00  2022-10-26 09:59:59
16  2022-10-26 10:00:00  2022-10-26 10:59:59
17  2022-10-26 11:00:00  2022-10-26 11:59:59
18  2022-10-26 12:00:00  2022-10-26 12:59:59
19  2022-10-26 13:00:00  2022-10-26 13:59:59
20  2022-10-26 14:00:00  2022-10-26 14:59:59
21  2022-10-26 15:00:00  2022-10-26 15:59:59
22  2022-10-26 16:00:00  2022-10-26 16:59:59
23  2022-10-26 17:00:00  2022-10-26 17:59:59
24  2022-10-26 18:00:00  2022-10-26 18:59:59
25  2022-10-26 19:00:00  2022-10-26 19:59:59
26  2022-10-26 20:00:00  2022-10-26 20:59:59
27  2022-10-26 21:00:00  2022-10-26 21:59:59
28  2022-10-26 22:00:00  2022-10-26 22:59:59
29  2022-10-26 23:00:00  2022-10-26 23:59:58

In [144]:
async def get_board_candles(ticker, interval,  start, end):
    async with aiohttp.ClientSession() as session:
        data = pd.DataFrame(await aiomoex.get_board_candles(session, ticker, interval,  start, end))
    return data

In [150]:
await get_board_candles(ticker, interval,  start, end)

,open,close,high,low,value,volume,begin,end
0,96.55,96.55,96.55,96.55,5.492343e+07,568860,2022-10-10 09:00:00,2022-10-10 09:59:59
1,96.55,103.10,104.40,96.50,4.133376e+09,40972120,2022-10-10 10:00:00,2022-10-10 10:59:59
2,103.14,103.00,104.70,101.63,1.590525e+09,15448590,2022-10-10 11:00:00,2022-10-10 11:59:59
3,103.00,102.40,103.05,101.65,7.615394e+08,7448530,2022-10-10 12:00:00,2022-10-10 12:59:59
4,102.52,103.49,103.80,101.85,8.268677e+08,8024300,2022-10-10 13:00:00,2022-10-10 13:59:59
...,...,...,...,...,...,...,...,...
193,124.34,124.48,124.50,124.20,8.369107e+07,673050,2022-10-26 22:00:00,2022-10-26 22:59:59
194,124.48,124.43,124.50,124.25,7.742763e+07,622570,2022-10-26 23:00:00,2022-10-26 23:59:58
195,124.75,124.75,124.75,124.75,1.122002e+07,89940,2022-10-27 09:00:00,2022-10-27 09:59:59
196,124.75,126.15,126.28,123.68,2.224097e+09,17771610,2022-10-27 10:00:00,2022-10-27 10:59:59
197,126.19,126.37,126.99,125.80,1.834959e+09,14509590,2022-10-27 11:00:00,2022-10-27 11:59:59

In [159]:
# Посмотрим, как выгружает с интервалом минута за сегодняшний день
# Вижу задержку в 15 минут

In [161]:
await get_board_candles(ticker, 1, '2022-10-27', 0)

,open,close,high,low,value,volume,begin,end
0,124.75,124.75,124.75,124.75,11220015.0,89940,2022-10-27 09:59:00,2022-10-27 09:59:59
1,124.75,124.87,124.87,124.50,125725878.2,1008650,2022-10-27 10:00:00,2022-10-27 10:00:59
2,124.86,124.60,124.86,124.08,99516561.5,799350,2022-10-27 10:01:00,2022-10-27 10:01:59
3,124.60,124.36,124.60,124.30,42332051.2,340110,2022-10-27 10:02:00,2022-10-27 10:02:59
4,124.32,124.25,124.37,124.20,25410749.9,204470,2022-10-27 10:03:00,2022-10-27 10:03:59
...,...,...,...,...,...,...,...,...
151,126.55,126.52,126.59,126.51,5817096.0,45970,2022-10-27 12:30:00,2022-10-27 12:30:59
152,126.52,126.42,126.57,126.42,8082451.4,63900,2022-10-27 12:31:00,2022-10-27 12:31:59
153,126.42,126.42,126.45,126.30,12873976.0,101880,2022-10-27 12:32:00,2022-10-27 12:32:59
154,126.42,126.29,126.44,126.26,7827341.9,61970,2022-10-27 12:33:00,2022-10-27 12:33:59
155,126.29,126.16,126.31,126.16,22052926.3,174730,2022-10-27 12:34:00,2022-10-27 12:34:59

In [162]:
# # Аналогично с прошлыми примерами - есть функция get_market_candles() 

# Получить свечи в формате HLOCV указанного инструмента на рынке для основного режима торгов.
# Если торговля идет в нескольких основных режимах, то на один интервал времени может быть выдано несколько свечек - 
# по свечке на каждый режим. 
# Предположительно такая ситуация может произойти для свечек длиннее 1 дня.

# Пример из документации на будущее о нескольких тикерах:
##### Вообще, вывод тот же, что и у get_board_securities()
##### Возможно, это пример реализации произвольного запроса

In [12]:
# Пример из документации: видимо выгрузка определенной информации из определенного места по нескольким тикерам
import asyncio

import aiohttp

import aiomoex
import pandas as pd


async def main():
    request_url = "https://iss.moex.com/iss/engines/stock/" "markets/shares/boards/TQBR/securities.json"
    arguments = {"securities.columns": ("SECID," "REGNUMBER," "LOTSIZE," "SHORTNAME")}

    async with aiohttp.ClientSession() as session:
        iss = aiomoex.ISSClient(session, request_url, arguments)
        data = await iss.get()
        df = pd.DataFrame(data["securities"])
        df.set_index("SECID", inplace=True)
        print(df.head(), "\n")
        print(df.tail(), "\n")
        df.info()

await main()

          REGNUMBER  LOTSIZE   SHORTNAME
SECID
ABRD   1-02-12500-A       10  АбрауДюрсо
ACKO   1-01-52065-Z      100     АСКО ао
AFKS   1-05-01669-A      100  Система ао
AFLT   1-01-00010-A       10    Аэрофлот
AGRO           None        1    AGRO-гдр

          REGNUMBER  LOTSIZE   SHORTNAME
SECID
YNDX           None        1  Yandex clA
YRSB   1-01-50099-A       10     ТНСэнЯр
YRSBP  2-01-50099-A       10   ТНСэнЯр-п
ZILL   1-02-00036-A        1      ЗИЛ ао
ZVEZ   1-01-00169-D     1000   ЗВЕЗДА ао

<class 'pandas.core.frame.DataFrame'>
Index: 263 entries, ABRD to ZVEZ
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   REGNUMBER  243 non-null    object
 1   LOTSIZE    263 non-null    int64
 2   SHORTNAME  263 non-null    object
dtypes: int64(1), object(2)
memory usage: 8.2+ KB